<!-- <div class="card card-body bg-dark"> 
  <p *ngIf="this.weather.main.temp > 0">
    <button (click)="tempWeather ()" type="submit" class="btn btn-info btn-block mt-2" >Cold Weather</button>
  </p>
</div>-->

<h1></h1>
<div class="card mb-3">
  <img width="400" src="https://scx1.b-cdn.net/csz/news/800/2016/tipstoembrac.jpg" class="img-fluid" class="rounded mx-auto d-block" alt="...">
  <div class="card-body">
    <h5 class="card-title">Cold Weather</h5>
    <p class="card-text">Using these tips, you can stay warm no matter how frightful the cold weather outside gets.</p>
    
  </div>
</div>
<h3>  
  Please click the button for tips!!
</h3>
<a href="https://www.mentalfloss.com/article/60076/12-toasty-tips-staying-warm-cold-weather">
<button (click)="temp" type="submit" class="btn btn-info btn-block mt-2" >Get Tips fot cold Weather   </button>
</a>
<h1></h1>

