<div class="city-weather">
  
   <div  class="alert alert-dark" role="alert">
    <div class="alert alert-success" role="alert">
      
      <h4 class="alert-heading">Well done!</h4>
      <h3>Test the application</h3>
      <p>Aww yeah, to start using the application please you must enter the name of the city and the code of the country where you want to know the weather. for example:</p>
     <!-- <p class="mb-0"> city name: "medellin"</p>
      <p>code country: "co" </p>-->

      <h4>{{data.city}}</h4>
      <p>{{data.code}}</p>
    </div>
  </div>
  
</div>