<h1></h1>
<div class="card mb-3">
  <img width="400" src="https://www.cdc.gov/nceh/features/extremeheat/extremeheat_456px.jpg" class="img-fluid" class="rounded mx-auto d-block" alt="...">
  <div class="card-body">
    <p class="card-text">Keep Your Cool in Hot Weather!.</p>
  </div>
</div>
<h3>
Please click the button for tips!!
</h3>
<a href="https://www.cdc.gov/nceh/features/extremeheat/index.html">
<button (click)="temp" type="submit" class="btn btn-info btn-block mt-2" >Get Tips for hot Weather </button>
</a>
<h1></h1>